<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fortune"
          class="com.DependencyInjection.Fortune">
    </bean>
    <bean id="myBCoach" class="com.DependencyInjection.Baseball">
        <constructor-arg ref="fortune"></constructor-arg>
    </bean>
    <bean id="myTCoach" class="com.DependencyInjection.Tennis">
        <constructor-arg ref="fortune"></constructor-arg>
    </bean>
    <bean id="myCCoach" class="com.DependencyInjection.Cricket">
        <constructor-arg ref="fortune"></constructor-arg>
    </bean>

</beans>