<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mySqlDao" class="com.ncu.MySQLDao"/>
    <bean id="oracleDao" class="com.ncu.OracleDao"/>
    <bean id="postgresDao" class="com.ncu.PosGresDao"/>
</beans>